<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--U機-->
  <add name="LionExAPIDB"  connectionString="Data Source=DBA-UAPI;Database=LionExAPI;Initial Catalog=LionExAPI;Persist Security Info=True;User ID=lionitapi;Password=itapi@ib3;Application Name=LionExAPI" providerName="System.Data.SqlClient" />

  <add name="LionAction" connectionString="Data Source=dba-uCnt;Database=action;Initial Catalog=Action;Connect Timeout=15000;Persist Security Info=True;User ID=action;Password=action;Application Name=LionExAPI_LionAction" providerName="System.Data.SqlClient" />
  <add name="Test"  connectionString="Data Source=LTC-04406-0161\SQL;Database=TDB;Initial Catalog=TDB;Persist Security Info=True;User ID=BB;Password=a123456;Application Name=TDB" providerName="System.Data.SqlClient" />
</connectionStrings>
